<!-- Modal -->
<div class="modal fade" id="new-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/users/<%=session[:user_id]%>/categories" method="POST" id="form-category"> 

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Edit / Create Category</h4>
          <input type="text" name="name" list="categories-list"/>
          <datalist id="categories-list">
            <%@categories.each do |c|%>
              <%if c.user_id == session[:user_id]%>
                <option value="<%=c[:name]%>"> <%=c[:name]%> </option>
              <%end%>
            <%end%>
          </datalist> 
        </div>


        <div class="modal-body">
          <select name="icon">
            <option value="1">icon 1</option>
            <option value="2">icon 2</option>
            <option value="3">icon 3</option>
          </select> <!-- TODO -->

          <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
          <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>