<!-- Modal -->
<div class="modal fade" id="new-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/users/<%=session[:user_id]%>/categories" method="POST" id="form-category"> 

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Edit / Create Category</h4>
          <input type="text" name="name" list="categories-list"/>
          <datalist id="categories-list">
            <%@categories.each do |c|%>
              <%if c.user_id == session[:user_id]%>
                <option value="<%=c[:name]%>"> <%=c[:name]%> </option>
              <%end%>
            <%end%>
          </datalist> 
        </div>


        <div class="modal-body">
          <input type="hidden" name="icon"> <!-- TODO -->
          <div id="icon-choices">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-ok"></span>
            <span class="glyphicon glyphicon-remove"></span>
            <span class="glyphicon glyphicon-music"></span>
            <span class="glyphicon glyphicon-glass"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-home"></span>
            <span class="glyphicon glyphicon-book"></span>
            <span class="glyphicon glyphicon-check"></span>
            <span class="glyphicon glyphicon-plane"></span>
            <span class="glyphicon glyphicon-comment"></span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="glyphicon glyphicon-usd"></span>
            <span class="glyphicon glyphicon-tree-conifer"></span>
            <span class="glyphicon glyphicon-grain"></span>
            <span class="glyphicon glyphicon-text-background"></span>
            <span class="glyphicon glyphicon-education"></span>
            <span class="glyphicon glyphicon-camera"></span>
            <span class="glyphicon glyphicon-asterisk"></span>
            <span class="glyphicon glyphicon-road"></span>

          </div>

          <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
          <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>