<!-- Modal -->
<div class="modal fade" id="new-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/users/<%=session[:user_id]%>/categories" method="POST" id="form-category"> 

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Edit / Create Category</h4>
          <span id="chosen-icon" class="glyphicon glyphicon-star"></span>
          <input type="text" name="name" list="categories-list"/>
          <datalist id="categories-list">
            <%@categories.each do |c|%>
              <%if c.user_id == session[:user_id]%>
                <option value="<%=c[:name]%>"> <%=c[:name]%> </option>
              <%end%>
            <%end%>
          </datalist> 
        </div>


        <div class="modal-body">
          <input type="hidden" name="icon"> 
          <%= render 'users/settings_partials/icon_choices' %>

          <input type="hidden" name="color">
          <%= render 'users/settings_partials/color_swatches' %>
          <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
          <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    /* GLYPHICONS */
    $('.edit-category-icon .glyphicon').on('click', function(){
      var thisIcon = $(this);
          iconClass = $(this).attr('class'),
          iconName = iconClass.split('glyphicon-')[1];

      //remove selected glow
      $('.glyphicon').removeClass('selected');
      thisIcon.addClass('selected');

      //put to input
      $('input[name="icon"]').val(iconName);
      $('#chosen-icon').removeAttr('class').addClass(iconClass);   
    });

    //Edit - prevent bad characters from being typed in
    $('input[name="name"]').keypress(function(event){
      var keyVal = event.which,
          allowedKeys = [48,49,50,51,52,53,54,55,56,57, 45, 97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122, 65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90] //only a-z, A-Z, 0-9, and -
      if (allowedKeys.indexOf(keyVal) === -1) {
        event.preventDefault();
      } 
    });

    //Edit - update color related
    $('.swatch').on('click', function(){
      var newHex = $(this).attr('value'),
          icons = $(this).parent().parent().parent().find('.glyphicon');

      icons.css('color', newHex);
      $(this).parent().parent().find('input[name="color"]').val(newHex);        
    });
  });
</script>