

  <style>
    #login-button-form input {
      width: 33vw;
      
    }
    #login-button-form * {
      height: 7.5vw;
      font-size: 3.5vw;
      margin: 0 1vw 0 1vw;
    }
    #login-button-form button {
      width: 20vw;
    }
    .edit-category {
      color:lightgrey;
    }
    .delete-category-btn {
      float:left;
    }
  </style>
<h1>Settings</h1>


<%if session[:user_id]%>
  <!-- Greeting -->
  <%@users.each do |user|%>
    <%if user.id == session[:user_id]%>
      <h3>Hello, <%= user.email %>! </h3> <!-- TODO: got better way? -->
    <%end%>
  <%end%>
  
  <!--Log out Button--> 
  <form id="logout-button" action="/session" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <button type="submit" class="btn btn-default">Log out</button>
  </form>

  <!-- Categories -->
  <h3>My Categories</h3>
  <%@categories.each do |cat|%>
    <ul>
      <li>
        <span class="glyphicon glyphicon-<%=cat[:icon]%>"></span> 
        <%=cat[:name]%>
        <span class="edit-category glyphicon glyphicon-cog" value="<%=cat[:name]%>"></span>

        <!-- Modal -->
        <div class="modal fade modal-edit-category" id="modal-<%=cat[:name]%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
                <span class="glyphicon glyphicon-<%=cat[:icon]%>"></span> 
                <%=cat[:name]%>
                
              </div>

              <div class="modal-body">

                <!-- edit form -->
                <form action="/users/<%=cat[:user_id]%>/categories/<%cat[:id]%>" method="POST">
                  <div class="edit-category-icon">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="glyphicon glyphicon-music"></span>
                    <span class="glyphicon glyphicon-glass"></span>
                    <span class="glyphicon glyphicon-heart"></span>
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="glyphicon glyphicon-check"></span>
                    <span class="glyphicon glyphicon-plane"></span>
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="glyphicon glyphicon-usd"></span>
                    <span class="glyphicon glyphicon-tree-conifer"></span>
                    <span class="glyphicon glyphicon-grain"></span>
                    <span class="glyphicon glyphicon-text-background"></span>
                    <span class="glyphicon glyphicon-education"></span>
                    <span class="glyphicon glyphicon-camera"></span>
                    <span class="glyphicon glyphicon-road"></span>
                    <span class="glyphicon glyphicon-phone"></span>
                    <span class="glyphicon glyphicon-credit-card"></span>
                    <span class="glyphicon glyphicon-bed"></span>
                    <span class="glyphicon glyphicon-wrench"></span>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <span class="glyphicon glyphicon-picture"></span>
                    <span class="glyphicon glyphicon-tags"></span>
                    <span class="glyphicon glyphicon-envelope"></span>
                  </div>
                  <input type="text" name="name" value="<%=cat[:name]%>">
                  <input type="hidden" name="icon" value="<%=cat[:icon]%>"> 
                  <input type="color" name="color" value="<%=cat[:color]%>">

                  <input type="hidden" name="_method" value="PUT">
                  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
                </form>

                
              </div>
            
              <div class="modal-footer">
                <!-- delete form -->
                <form action="/users/<%=cat[:user_id]%>/categories/<%=cat[:id]%>" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
                  <button type="submit" class="btn btn-default delete-category-btn"><span class="glyphicon glyphicon-trash"></span></button>
                </form>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>

            </div>
          </div>
        </div>

      </li>
    </ul>

   



  <%end%>

<%else%>
  <h1>Not logged in</h1>

  <!--Log in Button-->
  <form id="login-button-form" class="form-inline" action="/login" method="POST">
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" name="password" class="form-control"placeholder="Password">
    </div>
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>

  <!-- sign up button -->
  <a href="/users/new">Sign up</a>
<%end%>



<h3>About Timekeep</h3>
<p>
  Timekeep is a web app that helps you track how you spend your time. It is primarily a mobile web app because in this day and age, everyone is always on their phones. Periodically note what you've done in the past hour or two, and be honest: how much of that time did you spend surfing the web? Be honest and write that down in Timekeep. As you use Timekeep more and more, you'll become more mindful of your time-spending habits and become more aware when you are goofing off. Time is money; track your spending.
</p>

<p>
  Timekeep was made by Adrian Mh Lin as a personal project because he could not find any app out there that did what he needed it to do. Adrian Mh Lin is a web developer, UX designer, and linguist. In his free time Adrian likes making web apps and improving life's user experience.
</p>

<script>
  $(document).ready(function(){
    $('.edit-category').on('click', function(){
      
      var thisCat = $(this).attr('value');

      $('#modal-' + thisCat).modal('toggle');

      // catModal.modal('toggle');
      //update the details to be shown on the modal

      //when clicking the modal, ajax call to update

      //Edit - update hidden icon input value
      $('.edit-category-icon span').on('click', function(){
        var thisIcon = $(this);
            iconClass = $(this).attr('class'),
            iconName = iconClass.split('-')[1],
            iconInput = $(this).parent().parent().find('input[name="icon"]');

        iconInput.val(iconName);
      });

      //Confirm: Do you really want to delete this category?
      $('.delete-category-btn').on('click', function(){
        return confirm('Are you sure you want to delete this category? All entries made under this category will also be deleted!');
      });
    });
  });
</script>
