
  <style>
    #login-button-form input {
      width: 33vw;
      
    }
    #login-button-form * {
      height: 7.5vw;
      font-size: 3.5vw;
      margin: 0 1vw 0 1vw;
    }
    #login-button-form button {
      width: 20vw;
    }
    .edit-category {
      color:lightgrey;
    }
    .delete-category-btn {
      float:left;
      margin: -12vw 0 0 4vw;
    }
    #users-categories ul {
      font-size:5vw;
      list-style-type:none;
    }

  </style>
<h1>Settings</h1>


<%if session[:user_id]%>
  <!-- Greeting -->
  <%@users.each do |user|%>
    <%if user.id == session[:user_id]%>
      <h3>Hello, <%= user.email %>! </h3> <!-- TODO: got better way? -->
    <%end%>
  <%end%>
  
  <!--Log out Button--> 
  <form id="logout-button" action="/session" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <button type="submit" class="btn btn-default">Log out</button>
  </form>

  <!-- Categories -->
  <section id="users-categories">
    
    <h3>My Categories</h3>
    <%@categories.each do |cat|%>
      <ul>
        <li>
          <span class="glyphicon glyphicon-<%=cat[:icon]%>" style="color:<%=cat[:color]%>"></span> 
          <%=cat[:name]%>
          <span class="edit-category glyphicon glyphicon-cog" value="<%=cat[:name]%>"></span>

          <!-- Modal -->
          <div class="modal fade modal-edit-category" id="modal-<%=cat[:name]%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <form action="/users/<%=cat[:user_id]%>/categories/<%=cat[:id]%>" method="POST">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    
                    <span class="glyphicon glyphicon-<%=cat[:icon]%>"></span> 
                    <input type="text" name="name" value="<%=cat[:name]%>">
                    
                  </div>

                  <div class="modal-body">

                  
                      <%= render 'users/settings_partials/icon_choices' %>
                      <input type="hidden" name="icon" value="<%=cat[:icon]%>"> 
                      <%= render 'users/settings_partials/color_swatches' %>
                      <input type="hidden" name="color" value="<%=cat[:color]%>">

                      <input type="hidden" name="_method" value="PUT">
                      <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
                    

                    
                  </div>
                  <div class="modal-footer">
                    
                    <button type="submit" class="btn btn-primary submit-category-btn">Update</button>
                  </div>
                </form>
                <!-- delete form -->
                <form action="/users/<%=cat[:user_id]%>/categories/<%=cat[:id]%>" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
                  <button type="submit" class="btn btn-default delete-category-btn"><span class="glyphicon glyphicon-trash"></span></button>
                </form>

              </div>
            </div>
          </div>

        </li>
      </ul>

     



    <%end%>
  </section>
<%else%>
  <h1>Not logged in</h1>

  <!--Log in Button-->
  <form id="login-button-form" class="form-inline" action="/login" method="POST">
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" name="password" class="form-control"placeholder="Password">
    </div>
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>

  <!-- sign up button -->
  <a href="/users/new">Sign up</a>
<%end%>
  



<h3>About Timekeep</h3>
<p>
  Timekeep is a web app that helps you track how you spend your time. It is primarily a mobile web app because in this day and age, everyone is always on their phones. Periodically note what you've done in the past hour or two, and be honest: how much of that time did you spend surfing the web? Be honest and write that down in Timekeep. As you use Timekeep more and more, you'll become more mindful of your time-spending habits and become more aware when you are goofing off. Time is money; track your spending.
</p>

<p>
  Timekeep was made by Adrian Mh Lin as a personal project because he could not find any app out there that did what he needed it to do. Adrian Mh Lin is a web developer, UX designer, and linguist. In his free time Adrian likes making web apps and improving life's user experience.
</p>

<script>
  $(document).ready(function(){
    $('.edit-category').on('click', function(){
      
      var thisCat = $(this).attr('value');
      $('#modal-' + thisCat).modal('toggle'); //doesnt work with spaces, so i shall prohibit spaces in category names using checkCatName(input)

      //Edit - prevent bad characters from being typed in
      $('input[name="name"]').keypress(function(event){
        var keyVal = event.which,
            allowedKeys = [48,49,50,51,52,53,54,55,56,57, 45, 97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122, 65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90] //only a-z, A-Z, 0-9, and -
            if (allowedKeys.indexOf(keyVal) === -1) {
              event.preventDefault();
            } 
      });

      //Edit - update color related
      $('.swatch').on('click', function(){
        var newHex = $(this).attr('value'),
            icons = $(this).parent().parent().parent().find('.glyphicon');

        icons.css('color', newHex);
        $(this).parent().parent().find('input[name="color"]').val(newHex);        
      });

      //Edit - update icon related
      $('.edit-category-icon span').on('click', function(){
        var thisIcon = $(this);
            iconClass = $(this).attr('class'),
            newIcon = iconClass.split('glyphicon-')[1],
            iconInput = $(this).parent().parent().find('input[name="icon"]'),
            chosenIcon = $(this).parent().parent().parent().parent().find('.modal-header').find('.glyphicon');

        iconInput.val(newIcon);
        chosenIcon.removeAttr('class')
                  .addClass('glyphicon glyphicon-' + newIcon);
      });

      //Confirm: Do you really want to delete this category?
      $('.delete-category-btn').on('click', function(){
        return confirm('Are you sure you want to delete this category? All entries made under this category will also be deleted!');
      });
    });
  });
</script>
